<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista kursów</title>
</head>
<body>
<table>
    <thead>
    <th>ID</th>
    <th>Nazwa kursu</th>
    <th>Data startu</th>
    <th>Data zakończenia</th>
    <th>Miasto</th>
    <th>Cena</th>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Java</td>
        <td>10.10.2020</td>
        <td>01.01.2021</td>
        <td>Warszawa</td>
        <td>4999</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Frontend</td>
        <td>30.05.2020</td>
        <td>30.10.2021</td>
        <td>Warszawa</td>
        <td>3999</td>
    </tr>
    </tbody>
</table>

</body>
</html>
